<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>江西软件职业技术大学</title>

</head>


<body bgcolor="#eef1f5">
    <cms-component>
        head
    </cms-component>
    <div style="display: flex;width: 80vw;min-height: 700px;margin-left: 10vw;margin-top: 20px;margin-bottom: 20px;">
        <div style="width:50vw;background-color: #fff;padding: 25px;">
            <cms-node data="n_mmz2fg4a">
                <node-content></node-content>
            </cms-node>
        </div>
        <style>
            .baseTitle {
                background-color: #772f91;
                color: #fff;
                height: 45px;
                font-size: 16px;
                font-weight: bold;
                line-height: 45px;
                text-indent: 15px;
            }
        </style>
        <div style="flex:1;background-color: #fff;margin-left: 15px;padding: 25px;">
            <div class="baseTitle">单位介绍</div>
            <cms-list data="l_mmz1zd4b" style="margin-top: 30px;">
                <list-cover style="width: 100%;"></list-cover>
            </cms-list>
            <div>
                <div></div>
                <div></div>
            </div>
            <div class="baseTitle">教学成果</div>
            <cms-list data="l_mmz1xejg" style="margin-top: 30px;">
                <list-node>
                    <node-cover style="width: 100%;"></node-cover>
                </list-node>
            </cms-list>
            <div class="baseTitle">社会影响</div>
            <cms-list data="l_mmz1ydyy" style="margin-top: 30px;">
                <list-node>
                    <node-cover style="width: 100%;"></node-cover>
                </list-node>
            </cms-list>
        </div>
    </div>
    <cms-component>
        foot
    </cms-component>
</body>

</html>