body,
html {
    padding: 0;
    margin: 0;
}

.curp {
    cursor: pointer;
}

.curp:hover {
    opacity: 0.8;
}

.scroll {
    user-select: none;
    overflow-y: auto;
}


.scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scroll::-webkit-scrollbar-track {
    background-color: #ffffff;
    opacity: 0.5;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;

}

.scroll::-webkit-scrollbar-thumb {
    background-color: #bababa;
    opacity: 0.5;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
}

