    html,
    body {
      overscroll-behavior: none;
      /* 现代浏览器支持 */
    }

    div {
      word-break: break-all;
    }

    .MESSAGE_BOX {
      font-size: 14px;
      max-width: 80vw;
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.65);
      padding: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      color: #fff;
      z-index: 1000;
      display: none;
      animation: slideUp 0.3s ease forwards;
    }

    @keyframes slideUp {
      0% {
        transform: translate(-50%, 30px);
        opacity: 0;
      }

      100% {
        transform: translate(-50%, 0);
        opacity: 1;
      }
    }

    .location-marker {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: red;
      transform: translateY(-20px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 100000000000;
    }

    .location-marker::after {
      content: '';
      width: 2px;
      height: 15px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 5px);
    }

    .CONFIRMDIALOG {
      width: 90vw;
      max-width: 500px;
      z-index: 1000000000;
      position: fixed;
      left: 50%;
      top: 300px;
      padding: 15px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      animation: slideIn 0.3s ease forwards;
    }


    .CONFIRMDIALOGEDIT {
      width: 90vw;
      z-index: 1000000000;
      position: fixed;
      left: 50%;
      top: 100px;
      padding: 15px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      animation: slideIn 0.3s ease forwards;
    }

    .CONFIRMDIALOGEDIT .input {
      width: 100%;
      height: 30px;
      padding: 0;
      color: #666;

      outline: none;
      text-indent: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px
    }

    .CONFIRMDIALOGEDIT .textarea {
      width: calc(100% - 20px);
      color: #666;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      padding: 10px;
    }

    .CONFIRMDIALOGEDIT .title {
      display: flex;
      position: relative;
    }

    .CONFIRMDIALOGEDIT .content {
      padding-block: 15px;
      position: relative;
    }

    .CONFIRMDIALOGEDIT .content .limit {
      position: absolute;
      right: 7px;
      bottom: 20px;
      font-size: 14px;
      color: #888;
    }

    .CONFIRMDIALOGEDIT .title .font {
      flex: 1;
      font-size: 16px;
      color: #666;
    }

    .CONFIRMDIALOGEDIT .title .closeButton {
      font-size: 14px;
      color: #55aaff;
      cursor: pointer;
    }

    .CONFIRMDIALOGEDIT .bottomMenu {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      margin-top: 10px;
    }

    .CONFIRMDIALOGEDIT .bottomMenu button {
      flex: 1;
      height: 35px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }

    .CONFIRMDIALOGEDIT .bottomMenu .cancel {
      background-color: #fff;
      color: #55aaff;
      border: 1px solid #55aaff;
    }

    .CONFIRMDIALOGEDIT .bottomMenu .sure {
      background-color: #55aaff;
      color: #fff;
    }

    @keyframes slideIn {
      0% {
        transform: translate(-50%, -50px);
        opacity: 0;
      }

      100% {
        transform: translate(-50%, 0);
        opacity: 1;
      }
    }

    .CONFIRMDIALOG .title {
      display: flex;
      position: relative;
    }

    .CONFIRMDIALOG .title .font {
      flex: 1;
      font-size: 16px;
      color: #333;
    }

    .CONFIRMDIALOG .title .closeButton {
      font-size: 14px;
      color: #55aaff;
      cursor: pointer;
    }

    .CONFIRMDIALOG .content {
      font-size: 14px;
      color: #777;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .bottomMenu {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      margin-top: 10px;
    }

    .bottomMenu button {
      flex: 1;
      height: 35px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }

    .bottomMenu .sure {
      background-color: #fff;
      color: #55aaff;
      border: 1px solid #55aaff;
    }

    .bottomMenu .cancel {
      background-color: #55aaff;
      color: #fff;
    }

    .CONFIRMCOVER {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 999999999;
      top: 0;
      left: 0;
    }