    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: #eef1f5;
    }

    * {
      outline: none;
    }

    .hide {
      display: none !important;
    }

    .show {
      display: block !important;
      animation: slideShow 0.35s ease forwards;
    }

    .showFlex {
      display: flex !important;
      animation: slideShow 0.35s ease forwards;
    }

    @keyframes slideShow {
      0% {
        opacity: 0.2;
        transform: translateY(150px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .curp {
      cursor: pointer;
    }

    .curp:hover {
      opacity: 0.8;
    }

    .Toast {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 14px;
      padding: 15px;
      border-radius: 15px;
      position: fixed;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      text-align: center;
      animation: slideIn 0.35s ease forwards;
    }

    @keyframes slideIn {
      0% {
        opacity: 0.2;
        transform: translate(-50%, 50%);
      }

      100% {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    .location-marker {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: red;
      transform: translateY(-20px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 100000000000;
    }

    .location-marker::after {
      content: '';
      width: 2px;
      height: 15px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 5px);
    }

    .loadingState {
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #999;
      text-align: center;
    }


    .scroll {
      user-select: none;
      overflow-y: auto;
    }

    .scroll::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    .scroll::-webkit-scrollbar-track {
      background-color: #ffffff;
      opacity: 0.5;
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;

      border-radius: 2em;

    }

    .scroll::-webkit-scrollbar-thumb {
      background-color: #bababa;
      opacity: 0.5;
      -webkit-border-radius: 2em;

      -moz-border-radius: 2em;

      border-radius: 2em;

    }