    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: #eef1f5;
    }

    * {
      outline: none;
    }

    .hide {
      display: none !important;
    }

    .show {
      display: block !important;
      animation: slideShow 0.35s ease forwards;
    }

    .showFlex {
      display: flex !important;
      animation: slideShow 0.35s ease forwards;
    }

    @keyframes slideShow {
      0% {
        opacity: 0.2;
        transform: translateY(150px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .curp {
      cursor: pointer;
    }

    .curp:hover {
      opacity: 0.8;
    }

    .Toast {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 14px;
      padding: 15px;
      border-radius: 15px;
      position: fixed;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      text-align: center;
      animation: slideIn 0.35s ease forwards;
    }

    @keyframes slideIn {
      0% {
        opacity: 0.2;
        transform: translate(-50%, 50%);
      }

      100% {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    .loadingState {
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #999;
      text-align: center;
    }


    .scroll {
      user-select: none;
      overflow-y: auto;
    }

    .scroll::-webkit-scrollbar {
      width: 0px;
    }

    .scroll::-webkit-scrollbar-track {
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      border-radius: 2em;

    }

    .scroll::-webkit-scrollbar-thumb {
      background-color: #bababa;
      opacity: 0.5;
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      border-radius: 2em;
    }