    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: #eef1f5;
    }

    * {
      outline: none;
    }

    .hide {
      display: none !important;
    }

    .curp {
      cursor: pointer;
    }

    .curp:hover {
      opacity: 0.8;
    }

    .Toast {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 14px;
      padding: 15px;
      border-radius: 15px;
      position: fixed;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      text-align: center;
      animation: slideIn 0.35s ease forwards;
    }

    @keyframes slideIn {
      0% {
        opacity: 0.2;
        transform: translate(-50%, 50%);
      }

      100% {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    .loadingState {
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #999;
      text-align: center;
    }


    .scroll {
      user-select: none;
      overflow-y: auto;
    }

    .scroll::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    .scroll::-webkit-scrollbar-track {
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      border-radius: 2em;

    }

    .scroll::-webkit-scrollbar-thumb {
      background-color: #bababa;
      opacity: 0.5;
      -webkit-border-radius: 2em;
      -moz-border-radius: 2em;
      border-radius: 2em;
    }




    .cyberButton,
    .cyberButton::after {
      width: 380px;
      height: 86px;
      font-size: 36px;
      font-family: 'Bebas Neue', cursive;
      background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
      border: 0;
      color: #fff;
      letter-spacing: 3px;
      line-height: 88px;
      box-shadow: 6px 0px 0px #00E6F6;
      outline: transparent;
      position: relative;
    }

    .cyberButton::after {
      --slice-0: inset(50% 50% 50% 50%);
      --slice-1: inset(80% -6px 0 0);
      --slice-2: inset(50% -6px 30% 0);
      --slice-3: inset(10% -6px 85% 0);
      --slice-4: inset(40% -6px 43% 0);
      --slice-5: inset(80% -6px 5% 0);

      content: 'AVAILABLE NOW';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
      text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
      clip-path: var(--slice-0);
    }

    .cyberButton:hover::after {
      animation: 1s glitch;
      animation-timing-function: steps(2, end);
    }

    @keyframes glitch {
      0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
      }

      10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
      }

      20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
      }

      30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
      }

      40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
      }

      50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
      }

      60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
      }

      70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
      }

      80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
      }

      90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
      }

      100% {
        clip-path: var(--slice-1);
        transform: translate(0);
      }
    }
